/* {
	border: 1px solid pink;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	width: 1080px;
	margin: 0px auto;
	border: 2px solid black;
}

nav.menu {
	width: 100%;
	height: 60px;
	background-color: #93DFE5;
	border-top: 1px solid #93DFE5;
	border-bottom: 3px solid #3F8DA7;
}

span.new_dog_name {
	font-weight: bold;
}

.dog_icon {
	width: 45px;
	height: 45px;
	float: left;
	margin: 5px 20px;
}

ul {
	list-style-type: none;
}

li.menu {
	float: right;
	font-weight: 600;
}

li a {
	color: black;
	padding: 20px 10px;
	margin: 8px;
	text-decoration: none;
}

.header {
	width: 100%;
	height: 465px;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("images/park.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 80%;
}

h1.header_title {
	text-align: center;
	color: white;
	font-weight: normal;
	margin-left: 22%;
	width: 50%;
	font-size: 32px;
	margin-top: 10px;
}

label {
	font-weight: 600;
}

form.rename {
	text-align: left;
	margin-left: 30.5%;
	margin-top: 0;
	color: white;
}

input.input_rename {
	width: 370px;
	height: 47px;
	margin: 10px 0;
	border-radius: 2px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

input.button_rename {
	width: 370px;
	height: 47px;
	margin: 10px 0px;
	color: black;
	background-color: #93DFE5;
	font-size: 20px;
	border-radius: 2px;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dog1 {
	display: block;
	width: 170px;
	height: 170px;
	margin-left: 39%;
	margin-top: 30px;
	border-radius: 100px;
	border: 4px solid #3F8DA7;
}

main.column_content {
	width: 100%;
	height: 640px;
}

.column_1, .column_2, .column_3 {
	float: left;
	width: 29%;
	height: 585px;
	padding: 1%;
	margin: 1%;
	text-align: center;
	position: relative;
}

.dog2, .dog3, .dog4 {
	display: block;
	width: 170px;
	height: 170px;
	margin: 0px auto;
	border-radius: 100px;
	border: 4px solid #3F8DA7;
}

h3.column {
	font-size: 22px;
	font-weight: 800;
}

p.column {
	text-align: left;
	font-weight: 600;
	padding: 15px;
}

input.button {
	background-color: #3F8DA7;
	border-radius: 3px;
	bottom: 0;
	color: white;
	font-size: 17px;
	height: 45px;
	left: 0;
	position: absolute;
	transform: translate(6%);
	width: 300px;
}

.footer_container {
	background-color: #3F8DA7;
	clear: left;
	color: white;
	height: 180px;
	text-align: center;
	width: 100%;
}

h3.footer_title {
	padding-top: 43px;
	font-size: 17px;
	font-weight: normal;
}

li.footer {
	display: inline-block;
	margin: 10px;
}

ul.footer_list {
	padding: 10px;
	margin: 0px;
}







