/*
Below is my universal selector creating
borders around elements to help with 
positioning. It was actually SUPER helpful
when it came to visualizing the over look
when I first began.
*/

/* {
	border: 1px solid pink;
} */

/*I was told by some Mod 2 students that part of the
CSS style guide is to alphabatize the declarations;
so I did.*/

/*To match the comp as closely as possible, I started
off by making a 1080px container for the entire
project.*/
body {
	border: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	margin: 0px auto;
	width: 1080px;
}

a {
	color: inherit;
	text-decoration: none;
}

.navigation {
	background-color: #93DFE5;
	border-bottom: 3px solid #3F8DA7;
	border-top: 1px solid #93DFE5;
	height: 60px;
	width: 100%;
}

.navigation__img {
	float: left;
	height: 45px;
	margin: 5px 20px;
	width: 45px;
}

.navigation__list__item {
	float: right;
	font-weight: 600;
	list-style-type: none;
}

.navigation__list__item a {
	color: black;
	margin: 8px;
	padding: 20px 10px;
}

.header {
	/*Oddly, when I alphabatized the `background:` property
	the background photo skewed. Don't understand why.*/
	background: url("images/park.jpg");
	background-position: 0% 80%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 465px;
	width: 100%;
}

/*This is how I chose to darken the background image.
There were a number of ways I tried, but this and
liner-gradient worked the best. I finally landed on this
as it is less verbose.*/
.header--darken {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
}

.header__title {
	color: white;
	font-size: 32px;
	font-weight: normal;
	margin-left: 22%;
	margin-top: 10px;
	text-align: center;
	width: 50%;
}

#header__title--rename {
	font-weight: bold;
}

/*All of the items in the <header/> weren't centered
relative to the center of the document - no doubt 
intentionally - so this was my fix: margin it out.*/
.header__form {
	color: white;
	margin-left: 30.5%;
	margin-top: 0;
	text-align: left;
}

.header__form__label {
	font-weight: 600;
}

.header__form__input {
	border-radius: 2px;
	border: none;
	height: 47px;
	margin: 10px 0;
	outline: none;
	padding: 0;
}

#header__form__input--text {
	font-family: inherit;
	font-size: 18px;
	padding: 0 15px;
	width: 340px;
}

.header__form__input--button {
	background-color: #93DFE5;
	color: black;
	cursor: pointer;
	font-size: 20px;
	font: inherit;
	width: 370px;
}

.header__img {
	border-radius: 100px;
	border: 4px solid #3F8DA7;
	display: block;
	height: 170px;
	margin-left: 39%;
	margin-top: 30px;
	width: 170px;
}

.content {
	height: 640px;
	width: 100%;
}

/*Relativized these columns so I could position
the buttons.*/
.content__column {
	float: left;
	height: 585px;
	margin: 1%;
	padding: 1%;
	position: relative;
	text-align: center;
	width: 29%;
}

.content__column__img {
	border-radius: 100px;
	border: 4px solid #3F8DA7;
	display: block;
	height: 170px;
	margin: 0px auto;
	width: 170px;
}

.content__column__title {
	font-size: 22px;
	font-weight: 800;
}

.content__column__text {
	font-weight: 600;
	padding: 15px;
	text-align: left;
}

.content__column__button {
	background-color: #3F8DA7;
    border-radius: 2px;
    border: none;
    bottom: 0;
    color: white;
    /*This `cursor` property is a cool addition
    and improves the button look.*/
    cursor: pointer;
    font-size: 17px;
    height: 35px;
    outline: none;
    padding-top: 10px;
    position: absolute;
    width: 300px;
}

 /*I was also toying around with the `hover`
 pseudo class. Another cool style addition,
 I think.*/
.content__column__button:hover {
	background-color: #93DFE5;
    border-radius: 2px;
    border: none;
    bottom: 0;
    color: black;
    cursor: pointer;
    font-size: 17px;
    height: 35px;
    outline: none;
    padding-top: 10px;
    position: absolute;
    width: 300px;
}

.footer {
	background-color: #3F8DA7;
	clear: left;
	color: white;
	height: 180px;
	text-align: center;
	width: 100%;
}

.footer__title {
	font-size: 17px;
	font-weight: normal;
	padding-top: 43px;
}

.footer__list {
	margin: 0px;
	padding: 10px;
}

.footer__list__item {
	display: inline-block;
	margin: 8px;
}






